<ion-content [fullscreen]="true">

  <div class="login-content">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <ion-card class="custom-card">

        <ion-card-header class="custom-card-header">
          <img class="logo-img" [src]="logoPrincipal">
          <ion-card-title style="color: #436850; font-weight: bold;">PachanGeo</ion-card-title>
          <ion-card-subtitle style="color: #436850; font-weight: bold;">Recuperación de Contraseña</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="custom-card-content">

          <ion-text color="primary">
            <p style="margin-left: 10px;">Enviaremos un correo para restablecer la contraseña al Email introducido.</p>
          </ion-text>

          <!-- Input Email -->
          <custom-input icon="mail-outline" label="Email" type="email" formControlName="email" autocomplete="email"
            [control]="loginForm.controls.email"></custom-input>

          <div class="validators" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">
            <div class="custom-validators" *ngIf="loginForm.controls.email.errors?.['required']">Email requerido para el
              login</div>
            <div class="custom-validators" *ngIf="loginForm.controls.email.errors?.['email']">Introduzca un Email válido
            </div>
          </div>



        </ion-card-content>



        <ion-button class="custom-button ion-padding" type="submit" expand="block" type="submit"
          [disabled]="loginForm.invalid">Enviar email de recuperación</ion-button>

        <ion-button class="custom-button ion-padding" routerLink="" expand="block" fill="outline">
          Volver al Login </ion-button>


      </ion-card>
    </form>
  </div>



</ion-content>