<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar [color]="color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

    </ion-buttons>

    <ion-title>{{title}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- <ion-buttons *ngIf="title != 'Inicio'" slot="start">
      <ion-back-button defaultHref="home" text=""></ion-back-button>
    </ion-buttons> -->