ion-icon {
    font-size: 35px !important;
}

ion-header {
    border-bottom: 2px solid #FBFADA;
}

ion-alert.log-out-alert {
    --backdrop-opacity: 0.7;
}

button.alert-button.log-out-confirm {
    background-color: red !important;
}