p {
    color: black;
}

ion-button.custom-button {
    --background: #436850;
    color: white;
}

ion-toolbar.custom-toolbar {
    --background: #436850;
}

ion-input.custom-input {
    color: #436850;
    font-weight: bold;
}