ion-card.custom-card {
    width: 93%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 26px 0 rgba(0, 255, 191, 0.384) !important;
    margin: 0 auto;
    padding: 0;
}

ion-card-header.custom-card-header {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

ion-card-content.custom-card-content {
    -webkit-padding-start: 0 !important;
    padding-inline-start: 0 !important;
}


.custom-validators {
    display: flex;
    color: rgb(201, 12, 12);
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 5px;
    font-weight: bold;
}


ion-button.custom-button {
    --background: #436850 !important;
    color: #ADBC9F !important;
}

ion-select.custom-select {
    color: #ADBC9F !important;
    font-weight: bold;
}

ion-item.custom-item {
    color: #436850;
    font-weight: bold;
    --background: #ADBC9F !important;
    padding: 0 !important;
}