<ion-app>

  <ion-split-pane when="(min-width: 12000px)" contentId="main">

    <ion-menu side="start" menuId="custom" contentId="main">

      <ion-header>
        <ion-toolbar color="tertiary">
          <div class="toolbar-content">
            <ion-title>Menú</ion-title>
            <ion-img slot="end" [src]="pachangeoIcon" style=" width: 70px; height: 70px;"></ion-img>
          </div>

        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-list lines="true">

          <ion-menu-toggle [routerLink]="['/Inicio']">
            <ion-item button="true">
              <ion-icon name="home"></ion-icon>
              <ion-label class="label-list-item">Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle [routerLink]="['/Equipo']">
            <ion-item button="true" detail="">
              <ion-icon name="shield"></ion-icon>
              <ion-label class="label-list-item">Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item button="true" detail="">
              <ion-icon name="home"></ion-icon>
              <ion-label class="label-list-item">Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item button="true">
              <ion-icon name="home"></ion-icon>
              <ion-label class="label-list-item">Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main">

      <ion-router-outlet></ion-router-outlet>

    </div>
  </ion-split-pane>



</ion-app>