<ion-app>

  <ion-split-pane when="(min-width: 12000px)" contentId="main">

    <ion-menu side="start" menuId="custom" contentId="main">

      <ion-header class="side-nav">
        <ion-toolbar color="tertiary">
          <div class="toolbar-content">
            <ion-title>Menú</ion-title>
            <ion-img slot="end" [src]="pachangeoIcon" style=" width: 80px; height: 80px;"></ion-img>
          </div>

        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle [routerLink]="['/Inicio']">
            <ion-item button="true" detail="">
              <ion-icon name="home"></ion-icon>
              <ion-label class="label-list-item">Inicio</ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-menu-toggle [routerLink]="['/Equipo']">
            <ion-item button="true" detail="">
              <ion-icon name="shield"></ion-icon>
              <ion-label class="label-list-item">Equipo</ion-label>
            </ion-item>
          </ion-menu-toggle>


          <ion-accordion-group>
            <ion-accordion toggleIcon="caret-down-circle" value="first">
              <ion-item class="accordion-yellow" lines="full" slot="header" button="true">
                <ion-icon class="accordion-yellow" name="send"></ion-icon>
                <ion-label class="label-list-item">Solicitudes</ion-label>
              </ion-item>
              <div slot="content" style="padding-left: 12%; ">
                <ion-menu-toggle>
                  <ion-item lines="none" button="true" detail="">
                    <ion-icon name="search"></ion-icon>
                    <ion-label class="label-list-item ">Buscador</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
              <div slot="content" style="padding-left: 12%;">
                <ion-menu-toggle>
                  <ion-item button="true" detail="">
                    <ion-icon name="albums"></ion-icon>
                    <ion-label class="label-list-item ">Mis Solicitudes</ion-label>
                  </ion-item>
                </ion-menu-toggle>
              </div>
            </ion-accordion>
          </ion-accordion-group>

          <ion-menu-toggle>
            <ion-item button=" true" detail="">
              <ion-icon name="settings"></ion-icon>
              <ion-label class="label-list-item">Ajustes</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
      <ion-img [src]="jugador"></ion-img>
    </ion-menu>

    <div class=" ion-page" id="main">

      <ion-router-outlet></ion-router-outlet>

    </div>
  </ion-split-pane>



</ion-app>