<app-header [title]="title" color="tertiary"></app-header>


<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-start">
      <ion-col size="12">
        <ion-card class="custom-perfil-card ion-padding">

          <ion-item lines="none ion-padding">
            <ion-icon class="image-icon" slot="start" *ngIf="!perfilImage" (click)="takePerfilImage()"
              name="camera-outline"></ion-icon>
            <ion-avatar *ngIf="perfilImage" slot="start">
              <img class="image-icon" [src]="perfilImage" (click)="takePerfilImage()" />
            </ion-avatar>
          </ion-item>

          <ion-card-header class="ion-padding" style="margin-top: 10px;">
            <ion-card-title>{{user.name}}</ion-card-title>
            <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </ion-col>
      <ion-col size="12">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">

        <form [formGroup]="perfilForm" class="ion-padding" (ngSubmit)="perfilSubmit()">
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <ion-card-title>Información del jugador</ion-card-title>
              </ion-card-header>

              <ion-card-content>

                <ion-input label="Nombre de usuario:" class="custom-input custom-margin-bottom"
                  labelPlacement="floating" [counter]="true" [formControl]="perfilForm.controls.name"></ion-input>


                <p>Rol de jugador preferido: </p>
                <ion-label> {{user.role}}</ion-label>
                <ion-select class="custom-select custom-margin-bottom" fill="outline"
                  [formControl]="perfilForm.controls.role">
                  <ion-select-option value="Portero">Portero</ion-select-option>
                  <ion-select-option value="Defensa">Defensa</ion-select-option>
                  <ion-select-option value="CentroCampista">CentroCampista</ion-select-option>
                  <ion-select-option value="Delantera">Delantera</ion-select-option>
                  <ion-select-option value="Polivalente">Polivalente</ion-select-option>
                </ion-select>

                <p>Tipo de Fútbol preferido:</p>
                <ion-label> {{user.favoriteFootballType}}</ion-label>
                <ion-select class="custom-select custom-margin-bottom" fill="outline"
                  [formControl]="perfilForm.controls.favoriteFootballType">
                  <ion-select-option value="All-football">Todos</ion-select-option>
                  <ion-select-option value="Futbol-5">Fútbol Sala</ion-select-option>
                  <ion-select-option value="Futbol-7">Fútbol 7</ion-select-option>
                  <ion-select-option value="Futbol-11">Fútbol 11</ion-select-option>
                </ion-select>
              </ion-card-content>

              <ion-button color="tertiary" [disabled]="perfilForm.invalid" type="submit">
                <ion-icon style="color: #ffffff !important;" slot="start" name="create"></ion-icon>Guardar
              </ion-button>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>