<app-header [title]="title" color="tertiary"></app-header>


<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-start">
      <ion-col size="12">
        <ion-card>
          <ion-list lines="none" style="padding: 0;">
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://www.gravatar.com/avatar?d=identicon" />
              </ion-avatar>
              <ion-label>
                <h2>Nombre de Usuario</h2>
                <p>Correo Electrónico</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col size="12">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Preferecias de Usuario</ion-card-title>
            </ion-card-header>
            <ion-list lines="none" style="background-color: #ADBC9F;">

              <ion-item style="background-color: #ADBC9F;">
                <ion-label>
                  <p>Notificaciones:</p>
                </ion-label>
              </ion-item>
              <ion-item style="background-color: #ADBC9F;">
                <ion-label position="floating">Posición preferida 1:</ion-label>
                <ion-input type="" placeholder="Awesome Input"></ion-input>
              </ion-item>
              <ion-item style="background-color: #ADBC9F;">
                <ion-label>
                  <p>Posición preferida 2:</p>
                </ion-label>
              </ion-item>
              <ion-item style="background-color: #ADBC9F;">
                <ion-label>
                  <p>Tipo de fútbol preferido:</p>
                </ion-label>
              </ion-item>
            </ion-list>
            <ion-button color="tertiary">
              <ion-icon style="color: #ffffff !important;" slot="start" name="create"></ion-icon>Editar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>