<ion-content [fullscreen]="true">

  <div class="login-content">

    <form [formGroup]="loginForm" (ngSubmit)="submit()">

      <ion-card class="custom-card">

        <ion-card-header class="custom-card-header">
          <img class="logo-img" [src]="logoPrincipal">
          <ion-card-title style="color: #436850; font-weight: bold;">PachanGeo</ion-card-title>
          <ion-card-subtitle style="color: #436850; font-weight: bold;">Registro de Usuario</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="custom-card-content">

          <!-- Input Nombre -->
          <custom-input icon="person-outline" label="Nombre" type="text" autocomplete="name"
            [control]="loginForm.controls.name"></custom-input>

          <div class="validators" *ngIf="loginForm.controls.name.errors && loginForm.controls.name.touched">
            <div class="custom-validators" *ngIf="loginForm.controls.name.errors?.['required']">Nombre requerido para el
              registro</div>
            <div class="custom-validators" *ngIf="loginForm.controls.name.errors?.['minlength']">Introduzca un nombre
              con 4 o más caractéres </div>
          </div>

          <!-- Input Email -->
          <custom-input icon="mail-outline" label="Email" type="email" autocomplete="email"
            [control]="loginForm.controls.email"></custom-input>

          <div class="validators" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">
            <div class="custom-validators" *ngIf="loginForm.controls.email.errors?.['required']">Email requerido para el
              registro</div>
            <div class="custom-validators" *ngIf="loginForm.controls.email.errors?.['email']">Introduzca un Email válido
            </div>
          </div>

          <!-- Input Contraseña -->
          <custom-input icon="lock-closed-outline" label="Contraseña" type="password"
            [control]="loginForm.controls.password"></custom-input>

          <div class="validators" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
            <div *ngIf="loginForm.controls.email.errors?.['required']">
              <p class="custom-validators">Contraseña requerida
                para el registro</p>
            </div>
          </div>

        </ion-card-content>
        <ion-button class="custom-button ion-padding" type="submit" expand="block" type="submit"
          [disabled]="loginForm.invalid">Registrarse</ion-button>

        <ion-button class="custom-button ion-padding" routerLink="" expand="block" fill="outline">¿Ya tienes cuenta?
          Logueate!</ion-button>
      </ion-card>
    </form>
  </div>



</ion-content>